#detailbar {
    width: 20%;
    right: 0;
    height: 92vh;
    .card-body {
        flex: none !important;
    }
}

@media only screen and (max-width: 992px) {
    #task-wrap {
        flex-direction: column-reverse;
        
        #detailbar {
            position: static !important;
            width: 88vw;
            height: auto;
            overflow: auto;
            padding: 0.7rem !important;
            background: white !important;
        }
    }
}